.pokwe {
    background-image: url('img/bg-1.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.container {
    margin-top: 50px;
    margin-left: 50px;
}
.card {
    background-color: rgba(223, 15, 15, 0.3); /* Adjust the alpha (transparency) value */
    border: none;
}