.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 500px; /* Set a maximum height for the scrollable div */
    background-color: rgba(112, 33, 33, 0.7); /* Black background with some transparency */
    padding: 20px; /* Add padding for spacing */
}

/* Customize table styles */
.digital-table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #00ff00;
}

.digital-table th,
.digital-table td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #00ff00;
}
