body {
  background-image: url('../img/reggae.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.transparent-div {
  
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  gap: 20px; /* Adjust the gap as needed */
  width: 70%;
  float: left;
  max-height: 500px;
  overflow-y: auto;
}

/* Style for the tables */
.table-responsive {
  
  
  text-align: center;
}

/* Style for the cart div */
.cart-container {
  border: 1px solid #ccc;
  padding: 20px;
  height: 300px;
  position: fixed;
  top: 20px;
  right: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  
  overflow: auto;
}
