body {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.transparent-div {
  
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  gap: 20px; /* Adjust the gap as needed */
  width: 70%;
  float: left;
  max-height: 600px;
  overflow-y: auto;
  
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-thumb {
  background-color: green; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners for the thumb */
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #d31010; /* Color of the scrollbar thumb on hover */
}

/* Style for the tables */
.table-responsive {
  
  
  text-align: center;
}

/* Style for the cart div */
.cart-container {
  border: 1px solid #ccc;
  padding: 20px;
  height: 300px;
  position: fixed;
  bottom: 20px; /* Place the container at the bottom */
  right: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

/* Style the scrollbar track */
.cart-container::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

/* Style the scrollbar thumb */
.cart-container::-webkit-scrollbar-thumb {
  background-color: green; /* Default color */
  transition: background-color 0.3s; /* Add a transition effect */
}

/* Change the thumb color on hover */
.cart-container::-webkit-scrollbar-thumb:hover {
  background-color: #d31010;
}