body {
    margin: 0;
    padding: 0;
}

.custom-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    max-height: 100%; /* Set a maximum height for the container */
            overflow-y: auto;
    background-color: rgba(112, 33, 33, 0.7); /* Black background with some transparency */
    padding: 20px;
}

.custom-form {
    margin-top: 0; /* Remove top margin to align with the top of the container */
}


.custom-container::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}
        
.custom-container::-webkit-scrollbar-thumb {
    background-color: lightgreen; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Add rounded corners to the thumb */
}
        
.custom-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(112, 33, 33, 0.7); /* Set the hover color */
}