{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-page.css') }}">
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-light">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <form action="/admin/signedin" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-outline-success">Login</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('main.index') }}">
                            <button class="btn btn-outline-secondary">Back</button>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}