{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-inventory.css') }}">
{% endblock %}
    
{% block body %}

<div class="grid-container">
     
    <!-- Table 1 -->
    <div class="card digital-card">
        <div class="card-header">
            Zilog Hits
        </div>
        <div class="card-body">
            <label for="toggle">Toggle Edit:</label>
           
            <table class="table digital-table" id="table1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in menu.get_item_per_type()['hits'] %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.price }}</td>
                        <form action="/admin/setQuantity/{{ i.id }}" method="post">
                            <td style="width: 15%; text-align: center;">
                                <input type="text" value="{{ i.qty }}" id="qty{{ i.id }}" readonly name="qty{{ i.id }}" style="width: 45%; text-align: center;">
                            </td>
                            <td>
                                <input type="hidden" id="hidden_input{{ i.id }}" name="is_enabled{{ i.id }}" value="0" style="display: none;">
                                <button type="submit" id="submit_btn{{ i.id }}" disabled>Edit</button>
                                <label>
                                    <input type="checkbox" id="checkbox{{ i.id }}" onclick="toggle('qty{{ i.id }}', 'submit_btn{{ i.id }}', 'hidden_input{{ i.id }}')"> Enable Editing
                                </label>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Table 2 -->
    <div class="card digital-card">
        <div class="card-header">
            Afford Mo Zilog Ko
        </div>
        <div class="card-body">
            <table class="table digital-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in menu.get_item_per_type()['afford']%}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.price }}</td>
                        <form action="/admin/setQuantity/{{ i.id }}" method="post">
                            <td style="width: 15%; text-align: center;">
                                <input type="text" value="{{ i.qty }}" id="qty{{ i.id }}" readonly name="qty{{ i.id }}" style="width: 45%; text-align: center;">
                            </td>
                            <td>
                                <input type="hidden" id="hidden_input{{ i.id }}" name="is_enabled{{ i.id }}" value="0" style="display: none;">
                                <button type="submit" id="submit_btn{{ i.id }}" disabled>Edit</button>
                                <label>
                                    <input type="checkbox" id="checkbox{{ i.id }}" onclick="toggle('qty{{ i.id }}', 'submit_btn{{ i.id }}', 'hidden_input{{ i.id }}')"> Enable Editing
                                </label>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Table 3 -->
    <div class="card digital-card">
        <div class="card-header">
            Sizzling ala Carte
        </div>
        <div class="card-body">
            <table class="table digital-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in menu.get_item_per_type()['carte'] %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.price }}</td>
                        <form action="/admin/setQuantity/{{ i.id }}" method="post">
                            <td style="width: 15%; text-align: center;">
                                <input type="text" value="{{ i.qty }}" id="qty{{ i.id }}" readonly name="qty{{ i.id }}" style="width: 45%; text-align: center;">
                            </td>
                            <td>
                                <input type="hidden" id="hidden_input{{ i.id }}" name="is_enabled{{ i.id }}" value="0" style="display: none;">
                                <button type="submit" id="submit_btn{{ i.id }}" disabled>Edit</button>
                                <label>
                                    <input type="checkbox" id="checkbox{{ i.id }}" onclick="toggle('qty{{ i.id }}', 'submit_btn{{ i.id }}', 'hidden_input{{ i.id }}')"> Enable Editing
                                </label>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Table 4 -->
    <div class="card digital-card">
        <div class="card-header">
            Add-ons
        </div>
        <div class="card-body">
            <table class="table digital-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in menu.get_item_per_type()['add_on'] %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.price }}</td>
                        <form action="/admin/setQuantity/{{ i.id }}" method="post">
                            <td style="width: 15%; text-align: center;">
                                <input type="text" value="{{ i.qty }}" id="qty{{ i.id }}" readonly name="qty{{ i.id }}" style="width: 45%; text-align: center;">
                            </td>
                            <td>
                                <input type="hidden" id="hidden_input{{ i.id }}" name="is_enabled{{ i.id }}" value="0" style="display: none;">
                                <button type="submit" id="submit_btn{{ i.id }}" disabled>Edit</button>
                                <label>
                                    <input type="checkbox" id="checkbox{{ i.id }}" onclick="toggle('qty{{ i.id }}', 'submit_btn{{ i.id }}', 'hidden_input{{ i.id }}')"> Enable Editing
                                </label>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="{{ url_for('admin.dashboard') }}"><button>Back</button></a>

<script src="{{ url_for('static', filename='js/admin-inventory.js') }}"></script>

{% endblock %}
