{% extends 'layout.html' %}
{% block body %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/completed.css') }}">
{% endblock %}

    <div class="table-container">
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Section</th>
            </tr>
            
            {% for i in this_cart %}
            <tr>
                <td>{{ i.name }}</td>
                <td>₱{{ i.price }}</td>
                <td>{{ i.type|capitalize }}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>

    <div class="animation-container cooking-animation text-center">
        <img class="fire" src="{{ url_for('static', filename='img/fire.png') }}" alt="Fire">
        <img class="skillet" src="{{ url_for('static', filename='img/cook.png') }}" alt="Skillet">
    </div>

    <div class="animation-container motorcycle-animation">
        <img class="motorcycle" src="{{ url_for('static', filename='img/motorcycle.png') }}" alt="Motorcycle">
    </div>

    <script src="{{ url_for('static', filename='js/completed.js') }}"></script>

    <div class="text-bg-info text-center">
        <h3 class="display-6">
            Your Food is Prepared to be Delivered! Thank You!
        </h3>
        
    </div>
    <a href="{{ url_for('main.userDashboard') }}"><button class="btn btn-outline-success">Order Again</button></a>
    <div class="container w-75 p-1" style="margin-top: 100px;">
        <p class="font-monospace text-secondary">Your Order Amount: ₱<u>{{ total_price }}</u> <i class="float-sm-none">Delivery Fee Included (+$20)</i> </p>
        <p class="font-monospace text-secondary">We Received: ₱{{ money }}</p>
        <p class="font-monospace text-danger">Your Change: ₱{{ change }}</p>
    </div>


{% endblock %}