{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage-data.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="page-title">Customer Accounts</h1>
    <div class="table-container">
        <table class="table table-bordered custom-table">
            <thead>
                <tr>
                    <th>I.D</th>
                    <th>Firstname</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                
                {% for user in accounts %}
                <tr>
                    <td>{{ user.get_id }}</td>
                    <td>{{ user.get_firstname }}</td>
                    <td>{{ user.get_surname }}</td>
                    <td>{{ user.get_email }}</td>
                    <td>{{ user.get_phone }}</td>
                    {% set brgy, houseNo, street, municipality, province = user.get_per_address %}
                    <td><b>Baranggay:</b> <i>{{ brgy }}</i>,
                        <b>Municipality:</b> <i>{{ municipality }}</i>,
                        <b>Province :</b> <i>{{ province }}</i>,
                        <b>Street:</b> <i>{{ street }}</i>,  
                        <b>House #:</b> <i>{{ houseNo }}</i> 
                         </td>
                    <td>
                        <a href="{{ url_for('admin.updateUserEmail', user_email=user.get_email) }}">
                            <button class="btn btn-primary">Update</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('admin.dashboard') }}"><button>Back</button></a>
</div>
{% endblock %}