{% extends "layout.html" %}
{% block body %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/processsed.css') }}">
{% endblock %}

    <div class="d-flex flex-column">
        <div class="mb-3 rounded custom-div text-bg-success w-50 m-lg-2">
            {{ divString | safe }}
        </div>

        


        {% if myBool %}
        <div class="custom-form">
            <h4>Please Complete Remaining Fields to Continue</h4>
            {% if user_login and  user_login.check_address_null() %}
            <form action="/completed" method="post">
                <div class="form-group">
                    <label for="brgy">Enter Baranggay</label>
                    <input type="text" class="form-control" name="brgy" id="inputBrgy" maxlength="50" required value="{{ user_login.get_address()['brgy'] }}">
                </div>
                <div class="form-group">
                    <label for="street">Enter Street</label>
                    <input type="text" class="form-control" name="street" id="inputBrgy" maxlength="50" required value="{{ user_login.get_address()['street'] }}">
                </div>
                <div class="form-group">
                    <label for="houseNo">Enter House No.</label>
                    <input type="text" class="form-control" name="houseNo" id="inputBrgy" maxlength="50" required placeholder="Block and Lot for subdivisions and villages" value="{{ user_login.get_address()['houseNo'] }}">
                </div>
                <div class="form-group">
                    <label for="municipality">Enter Municipality</label>
                    <input type="text" class="form-control" name="municipality" id="inputMunicipality" maxlength="50" required value="{{ user_login.get_address()['municipality'] }}">
                </div>
                <div class="form-group">
                    <label for="province">Enter Province</label>
                    <input type="text" class="form-control" name="province" id="inputProvince" maxlength="50" required value="{{ user_login.get_address()['province'] }}">
                </div>
                <div class="form-group">
                    <label for="name">Enter Fullname</label>
                    <input type="text" class="form-control" name="name" id="inputName" maxlength="100" required value="{{ nameuser }}">
                </div>
                <div class="form-group">
                    <label for="phone">Enter Contact Number</label>
                    <input type="text" class="form-control" name="phone" id="inputPhone" pattern="[0-9]+" minlength="10" maxlength="15" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% else %}
            
            <form action="/completed" method="post">
                <div class="form-group">
                    <label for="brgy">Enter Baranggay</label>
                    <input type="text" class="form-control" name="brgy" id="inputBrgy" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="street">Enter Street</label>
                    <input type="text" class="form-control" name="street" id="inputBrgy" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="houseNo">Enter House No.</label>
                    <input type="text" class="form-control" name="houseNo" id="inputBrgy" maxlength="50" required placeholder="Block and Lot for subdivisions and villages">
                </div>
                <div class="form-group">
                    <label for="municipality">Enter Municipality</label>
                    <input type="text" class="form-control" name="municipality" id="inputMunicipality" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="province">Enter Province</label>
                    <input type="text" class="form-control" name="province" id="inputProvince" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="name">Enter Fullname</label>
                    <input type="text" class="form-control" name="name" id="inputName" maxlength="100" required value="{{ nameuser }}">
                </div>
                <div class="form-group">
                    <label for="phone">Enter Contact Number</label>
                    <input type="text" class="form-control" name="phone" id="inputPhone" pattern="[0-9]+" minlength="10" maxlength="15" required>
                    
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}
        </div>
        {% else %}
            <h2>You are ${{ short }} short. Please pay equal or higher than to total amount</h2>
        {% endif %}
    </div>

{% endblock %}
