<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Receipt</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Orders</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in receipt_data.transactions %}
                    <tr>
                        <td>Item {{ i.unique }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.price }}</td>
                        {% for j in i.item %}
                        <td>{{ j }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Item 2</td>
                        <td>1</td>
                        <td>$15.00</td>
                        <td>$15.00</td>
                    </tr>
                    <tr>
                        <td>Item 3</td>
                        <td>3</td>
                        <td>$8.00</td>
                        <td>$24.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Subtotal:</td>
                        <td>$59.00</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">Tax (10%):</td>
                        <td>$5.90</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">Total:</td>
                        <td>$64.90</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Thank you for your purchase!</p>
        </div>
    </div>
</div>