{% extends "layout.html" %}
{% block styles %}
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Receipt</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Key</th>
                        
                        
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>Item</td>
                             <td>{{ receipt.unique }}</td>
                    </tr>
                    <tr>User Name
                        <td>Name</td>
                        <td>{{ receipt.name }}</td>
                    </tr>
                    <tr>
                        <td>Total Price</td>
                        <td>{{ receipt.price }}</td>
                    </tr>
                    <tr>
                        <td>Orders</td>
                        <td>{{ receipt.item }}</td>
                    </tr>
                        
                        
                        
                        
                        <td>{% for i in receipt.item %}
                            {{i.showList}}
                        {% endfor %}
                    </td>
                    </tr>
                    
                </tbody>
                <tfoot>
                    
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Thank you for your purchase!</p>
        </div>
    </div>
</div>
{% endblock %}