{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/to-checkout.css') }}">
{% endblock %}
{% block body %}

    <div class="container w-75 p-1" style="margin-top: 50px;">
        <p class="font-monospace text-secondary">Your Order Amount: ₱{{ total_amount }}</p>
        <p class="font-monospace text-secondary">Delivery Fee: ₱20</p>
        <p class="font-monospace text-danger">Total Amount TO PAY: ₱{{ plusDf }}</p>
        <form action="/formOfPayment" method="POST">
            <p class="font-monospace text-bg-info w-25 text-center">Select Payment Method</p>
            <button type="submit" name="cash-on-del" id="cash-on-del" value="0" class="font-monospace btn btn-outline-success btn-rounded btn-md">Cash On Delivery</button>
            <button type="submit" name="g-cash" id="g-cash" value="1" class="font-monospace btn btn-outline-primary btn-rounded btn-md">Pay in G-Cash</button>
        </form>
    </div>
    <div class="container w-75 p-3">
        {{ formString | safe }}
    </div>
    
{% endblock %}