{% extends "layout.html" %}
{% block body %}
<form action="/updateSettings" method="post">
    <div class="float-start mt-0 ms-0">
        <div class="form-group text-light-emphasis">
            <label for="oldPass">Old Password</label>
            <input type="password" class="form-control" id="oldPass" name="oldPass">
            <label for="newPass">New Password</label>
            <input type="password" class="form-control" id="newPass" name="newPass">
            <label for="newPass2">Re-Enter Password</label>
            <input type="password" class="form-control" id="newPass2" name="newPass2">
            <br>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-light" value="Save Password" name="savePass">
            </div>
            <div class="form-group">
                <a href="{{ url_for('main.userSettings') }}">
                    <button class="btn btn-outline-secondary">Back</button>
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock %}